[environment]
experiment_name = "mapnet"
run_name = "run_name"

[dataloader]
; required only with 7scenes dateset
sequences = {"test": "seq-02"}
save_processed_dataset = true

[paths]
net_weights_dir = "path"
dataset = "path"
targets = "path"
predictions = "path"
; required only with dataset built with colmap
images = "/data/images"
; only required with dataset generated with colmap.
; possible option false and true
