[environment]
experiment_name = "mapnet"
run_name = "run_name"
seed = 0
epochs = 100

[model]
name = "mapnet"
feature_dimension = 2048
dropout_rate = 0.5

[dataloader]
num_workers = 4
batch_size = 16
step = 3
skip = 10
color_jitter = 0.5
; required only with dataset built with colmap
save_processed_dataset = true
; required only with 7scenes dataset
sequences = {"train": "seq-01", "validation": "seq-02"}

[loss]
type = "mapnet_criterion"
beta = 0
gamma = 0
learn_beta = false
learn_gamma = false

[optimizer]
name = "adam"
lr = 0.0001
decay = 0.0005

[scheduler]
name = "StepLR"
step_size = 20
gamma = 0.1

[paths]
train_dataset = "/data/train"
validation_dataset = "/data/validation"
test_dataset = "/data/test"
net_weights_dir = "/data/model_weights"
aim_dir = "/data/model_weights"
; required only with dataset built with colmap
images = "/data/images"
