[environment]
experiment_name = "posenet"
run_name = "test1"
seed = 0
epochs = 100

[model]
name = "menet"
outputs = 7

[dataloader]
dataset_type = "HighMemory"
batch_size = 64

[loss]
type = "mse"
weights = [1, 1, 1, 1, 1, 1, 1]

[optimizer]
name = "SGD"
lr = 0.01
momentum = 0.9

[scheduler]
name = "StepLR"
step_size = 20
gamma = 0.1

[paths]
train_dataset = "path"
validation_dataset = "path"
test_dataset = "path"
images = "path"
net_weights_dir = "path"
aim_dir = "path"

